.addTaskWrapper{
    position: fixed;
    bottom :10vh;
    right : 10vw;
    background-color: rgb(225, 237, 255);
    font-weight: 600;
    color : rgb(0, 82, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 50ms ease-in-out;
}
.addTaskWrapper:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.addIMG{
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
}
@media only screen and (max-width: 768px) {
    .addTaskWrapper{
        position: fixed;
        width: auto;
        bottom :10vh;
        right : 5vw;
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(235, 243, 255);
        font-weight: 600;
        color : rgb(0, 82, 204);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        border-radius: 10px;
    }
    
  }


  