
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&display=swap');

header {

    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif; 
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);

}

.headerWrapper{
    margin-right: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
}

nav{
    display: flex;
    width: 50vh;
    justify-content: flex-end;
    
}

.branding{
    font-size: 2rem;
    margin-left: 1rem;
    white-space: nowrap;
    color:rgb(0, 82, 204) ;
    font-weight: 600;
    
}


.navigationWapper{
    margin-left: 5vw;
    white-space: nowrap;
    width: auto;
    height: auto;
    font-weight: 600;
    flex-shrink: 1;
}



.navigation {
    padding: 10px;
    border-radius: 7px;
    transition: 0.25s;
    display: block;
    flex-shrink: 1;
}




.navigation:hover,.active {
    background-color: rgb(225, 237, 255);
    color : rgb(0, 82, 204);

}
.navigation:active {
    transform: scale(0.9);
}

.hambergur{
        display: none;
}

a{
    text-decoration: none;
    color: inherit;
}
.mobileMenuWrapper{
    background-color: rgb(253, 253, 253);
    display: none;
   
 }



@media only screen and (max-width: 768px) {
    .hambergur{
        margin-right: -20px;
        display: block;
        transform: scale(0.45);
    }
    .navLinks{
        display: none;
    }
    .headerWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .branding{
        font-size: 1.6rem;
        margin-left: 1rem;
        white-space: nowrap;
        
    }
    .mobileMenuWrapper{
       background-color: rgb(253, 253, 253);
       display: block;
      
    }
    .navigation {
        padding: 10px;
        margin-left:-5vw ;
        border-radius: 7px;
        transition: 0.25s;
        display: block;
        flex-shrink: 1;
        text-align: center;
        margin-left: 25% ;
        margin-right: 25% ;
        margin-top: 2rem ;
        

    }
    .mobileMenu:last-child {
        padding-bottom: 2rem;
    }
    .navigation:hover{
        background-color: rgb(255, 255, 255);
        color : rgb(0, 0, 0);
    }
     .active:hover{
        background-color: rgb(225, 237, 255) !important;
        color : rgb(0, 82, 204);
    }

  }



  
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  